.container {
    border: solid 2px #ccc;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: url('/purpl.jpg');  
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form-container {
    width: 320px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 15px;
    text-align: center;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), 0 8px 15px rgba(0, 0, 0, 0.3);
}

.atm-screen {
    background: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    color: #0f0;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.balance-text {
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.input-label {
    margin-top: 10px;
    color: #000000;
    font-weight: bold;

}

.amount-input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.atm-keypad {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-top: 15px;
}

.btn {
    height: 50px; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #555;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: #777;
}

.withdraw-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: #812f9f;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.withdraw-btn:hover {
    background: #612477;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out, fadeOut 3s 2.5s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
