
 <div class="layout">
  <nav class="sidebar">
    <div class="header top">
      <i class="fa-solid fa-user"></i>
      <h3> {{ userName }} {{ userSurname }}</h3>
    </div>

    <ul>
      <li><a routerLink="/mainpage" > Ana Sayfa </a></li>
      <!-- <li><a > Hesabım </a></li> -->
      <li><a routerLink="/cards"> Kartlarım </a></li>
      <li><a routerLink="/accounttransactions"> Hesap Hareketlerim </a></li>
      <li><a routerLink="/moneyTransfer"> Para Transferi </a></li>
      <li><a routerLink="/profilepage"> Profilim </a></li>
      <li><a routerLink="/homepage" > Çıkış Yap </a></li>
    </ul>
  </nav>
</div>
